/*css reset */
body, h1, h2, h3, h4, h5, h6, hr, div, p, img, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;} 
body, button, input, select, textarea { font:14px helvetica,arial,sans-serif;} 
h1, h2, h3, h4, h5, h6{ font-size:100%;} 
ul, ol { list-style:none;} 
a{color: inherit; text-decoration:none;} 
input:focus,textarea:focus,button:focus { outline:none;}
legend { color:#000;} 
fieldset, img { border:0;} 
textarea { resize: none;}
button, input, select, textarea { font-size:100%;} 
table { border-collapse:collapse; border-spacing:0;} 
article,aside,main,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
body{background-color:#EFEFEF;color: #333333; }
img{display: inline;vertical-align:middle;}
.clearfix:after { content:" "; display:block; height:0; visibility:hidden; clear:both;}
.clearfix { zoom:1;}

.header{
	min-height: 90px;
	margin-bottom: 10px;
}
.head-bg{
	width: 100%;
	height: 515px;
	background: url(https://blog.zhoushuo.me/head-bg.jpg) no-repeat center;
	background-size: cover;
	position: absolute;
	top: 0;
	z-index: -1;
}

.head-bg:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(44, 51, 64, 0.5);
}

.header  .head-bar{
	padding: 30px 15px;
	transition: .3s;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.header .logo{
	font-size: 24px;
	font-weight: bold;
	float: left;
	line-height: 30px;
	color: #00FFCC;
}

.header .logo .zhou{
	color: #66FF66;
	margin-right: 5px;
}

.header .menu-btn{
	display: none;
}

.header .head-nav{
	float: right;
	font-size: 14px;
}

.header .head-nav li{
	float: left;
	margin-left: 30px;
	line-height: 30px;
	position: relative;
}

.header .head-nav li a{
	color: rgba(255,255,255,.8);
	font-weight: 600;
	transition: 0.3s;
}

.header .head-nav li a:after{
	display: block;
	content: " ";
	position: absolute;
	width: 0;
	bottom: 0;
	height: 3px;
	border-radius: 2px;
	background: #00CCFF;
	transition: 0.3s ease-out;
}

.header .head-nav li a:hover:after,
.header .head-nav .active a:after{
	width: 100%;
}

.header .head-bar.sticky{
	width: 100%;
	background: white;
	padding: 15px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.header .head-bar.sticky li a{
	color: rgba(0,0,0,.8);
}

.container{
	max-width: 960px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.section{
	margin-top: 70px;
	transition:all .5s ease-in-out;
}

.section.out{
	transform: translateY(130px);
	opacity: 0;
}

.about-section .about-card{
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.about-section .contour{
	width: 100%;
	background: white;
	padding: 50px;
}

.about-section .contour .avatar{
	width: 32%;
	min-height: 1px;
	float: left;
	margin-right: 8%;
}

.about-section .contour .avatar img{
	width: 100%;
	display: block;
}

.about-section .contour .about-right{
	float: left;
    width: 59%;
}

.about-section .contour .bubble{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	font-size: 16px;
	line-height: 1.2em;
	padding: 5px 10px;
	background: #00CCFF;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.about-section .contour .bubble:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border:10px solid transparent;
	border-left-color: #00CCFF;
	border-top-width: 0;
	position: absolute;
	top: 100%;
	left: 5px;
}

.about-section .contour .about-title{
	position: relative;
	font-size: 36px;
	line-height: 1.2em;
	margin-bottom: 5px;
	padding-top: 1.5em;
}

.about-section .contour h2{
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2em;
	color: #444;
}

.about-section .contour hr{
	width: 100%;
	height: 0;
	border-top: 1px solid #DEDEDE;
	margin: 20px 0;
}

.about-section .contour dt,
.about-section .contour dd{
	float: left;
	margin: 10px 0;
	line-height: 1.2;
}

.about-section .contour dt{
	width: 30%;
	font-weight: 600;
	color: #333;
} 

.about-section .contour dd{
	width: 70%;
	color: #999;
}

.about-section .about-bottom{
	background: #00CCFF;
	text-align: center;
	padding: 15px 0;
}

.about-section .about-bottom a{
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	color: white;
	margin:5px 15px;
	transition: 0.3s;
}

.about-section .about-bottom a i{
	font-size: 24px;
}

.about-section .about-bottom a:hover{
	background: rgba(0,0,0,.1);
}

.about-section .download-rs{
	margin: 40px 0;
	text-align: center;
}

.about-section .download-rs a{
	padding: 18px 55px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.section .section-btn a{
	display: inline-block;
	border:1px solid #cbcdcf;
	border-radius: 4px;
	margin: 0 auto;
	transition: box-shadow 0.3s;
}

.section .section-btn a:hover{
	box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

.about-section .about-text{
	text-align: center;
	font-size: 16px;
	line-height: 1.8;
	vertical-align: baseline;
	font-weight: 400;
}

.section .section-title{
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 0.1em;
}

.skill-section .skill-wraper{
	background: white;
	padding: 50px;
	box-shadow: 0 0 8px rgba(0,0,0,.2)
}

.skill-section .skill-wraper .skill-item{
	float: left;
	width: 48%;
	margin-bottom: 40px;
}

.skill-section .skill-wraper .skill-item:nth-child(even){
	float: right;
}

.skill-section .skill-wraper .skill-item:nth-last-child(1),
.skill-section .skill-wraper .skill-item:nth-last-child(2){
	margin-bottom: 0;
}

.skill-section .skill-wraper .skill-item h3{
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 5px;
	color: #444;
	letter-spacing: 0.1em;
}

.skill-section .skill-wraper .skill-item .progressBar{
	height: 5px;
	border-radius: 3px;
	background: #B3F0FF;
}

.skill-section .skill-wraper .skill-item .progressBar .progress{
	display: block;
	height: 100%;
	border-radius: inherit;
	background: #00CCFF;
	transition: 1s;
}

.section.out .skill-wraper .skill-item .progressBar .progress{
	width: 2% !important;
}

.pf-grid-container {
	position: relative;
}
.pf-grid-container .pf-grid-item{
	width: 33.33%;
	float: left;
	padding: 0 10px;
	margin-bottom: 20px;
}
.pf-grid-container .pf-size-big{
	width: 66%;
}

.pf-grid-container .pf-grid-item .pf-item{
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(0,0,0,.2);
}

.pf-grid-container .pf-grid-item .pf-item:after{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
}

.pf-grid-container .pf-grid-item .pf-item>img{
	width: 100%;
}

.pf-grid-container .pf-grid-item .pf-item-cont{
	position: absolute;
    left: 0;
	bottom: 0;
	vertical-align: baseline;
	padding:35px 5%;
    color: white;
    z-index: 3;
    transition: .3s;
}

.pf-grid-container .pf-grid-item .pf-item-cont h3{
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
}

.pf-grid-container .pf-grid-item .pf-item-cont .pf-item-cat span{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 400;
    line-height: 1.1;
    margin-right: 15px;
    text-transform: uppercase;
}

.pf-grid-container .pf-grid-item .pf-popup-slide{
	position: absolute;
	bottom: -55px;
	left: 0;
	padding: 0 5%;
	transition: .3s;
	z-index: 3;
}

.pf-grid-container .pf-grid-item .pf-popup-slide a{
	width: 50px;
    height: 50px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: background .3s;
}

.pf-grid-container .pf-grid-item .pf-popup-slide a:hover{
    background: rgba(255, 255, 255, 0.1);
}

.pf-grid-container .pf-grid-item .pf-popup-slide a i{
	display: block;
	line-height: 50px;
	font-size: 24px;
	color: #00CCFF;
}

.pf-grid-container .pf-grid-item .pf-item:hover .pf-item-cont{
	bottom: 60px;
}

.pf-grid-container .pf-grid-item .pf-item:hover .pf-popup-slide{
	bottom: 20px;
}

.section .pf-more-btn{
	text-align: center;
}

.section .pf-more-btn a{
	display: inline-block;
	margin-top: 20px;
}

.section .pf-more-btn a i{
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
	transition: .3s;
}

.section .pf-more-btn a i:before,
.section .pf-more-btn a i:after{
	content: " ";
	display: block;
	width: 20px;
	height: 2px;
	background: #333;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -10px;
}

.section .pf-more-btn a i:after{
	transform: rotate(90deg);
}

.section .pf-more-btn a:hover i{
	transform: rotate(90deg);
}

.timeline{
	position: relative;
}

.timeline .timeline-bar{
	width: 5px;
	height: 90%;
	position: absolute;
	left: 50%;
	margin-left: -2px;
	background: #B3F0FF;
	border-radius: 3px;
	margin-top: 25px;
}

 .timeline .timeline-item{
	position: relative;
    zoom: 1;
    width: 50%;
    padding-right: 40px;
 }

 .timeline .timeline-item .timeline-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    line-height: 30px;
    color: #444;
    position: relative;
}

 .timeline .timeline-item .timeline-box:before{
 	content: " ";
 	display: block;
 	width: 100%;
 	height: 4px;
	background: #00CCFF;
	border-radius: 4px 4px 0 0;
	position: absolute;
	top: 0;
	left: 0;
 }

.timeline .timeline-item .timeline-icon {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #00CCFF;
    border-radius: 50%;
    top: 25px;
    right: -45px;
    z-index: 20;
}

.timeline .timeline-item .timeline-box .timeline-date {
    font-size: 18px;
    color: #00CCFF;
    font-weight: bold;
}

.timeline .timeline-item .timeline-box h3{
	font-size: 20px;
	font-weight: 500;
	margin: 5px 0;
}

.timeline .timeline-item .timeline-box h4{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.timeline .timeline-item .timeline-box p{
	line-height: 1.5;
	font-size: 14px;
	color: #666;
}

.timeline .timeline-item .timeline-box:after {
    content: " ";
    display: block;
    box-sizing: content-box;
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: transparent transparent transparent #fff;
    top: 15px;
    right: -28px;
}

.timeline .timeline-item:nth-child(even) {
    float: right;
    padding-left: 40px;
    padding-right: 0;

}

.timeline .timeline-item:nth-child(even) .timeline-icon{
	left: -45px;
}

.timeline .timeline-item:nth-child(even) .timeline-box:after {
    left: -28px;
    border-color: transparent #fff transparent transparent;
}

.message-section .contact-box{
	width: 50%;
	float: left;
	padding: 0 15px;
}

.message-section .message-board,
.message-section .message-list{
	background-color: white;
	box-shadow: 0 0 8px rgba(0,0,0,.3);
	height: 515px;
}

.message-section .message-board{
	padding: 50px;
}

.message-section .message-board h3{
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 25px;
	line-height: 1.2;
}

.message-section .message-board .input-field{
	position: relative;
	margin-bottom: 30px;
}

.message-section .message-board input,
.message-section .message-board textarea{
	font-size: 14px;
	color: #666;
    line-height: 16px;
    padding: 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
}

.message-section .message-board textarea{
	line-height: 1.5em;
}

.message-section .message-board textarea::-webkit-scrollbar{
	width: 4px;
}

.message-section .message-board textarea::-webkit-scrollbar-thumb{
	background-color: #00CCFF;
	border-radius: 2px;
}

.message-section .message-board label{
	top: 10px;
    left: 0;
    color: #666;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    -webkit-transition: 0.15s ease all;
    -moz-transition: 0.15s ease all;
    transition: 0.15s ease all;
}

.message-section .message-board .used label{
	top: -15px;
	font-size: 12px;
	color: #00CCFF;
}

.message-section .message-board .line{
	display: block;
	width: 0;
	margin: 0 auto;
	height: 2px;
	background-color: #00CCFF;
	transition: .3s;
}

.message-section .message-board .used .line{
	width: 100%;
}

.btn-submit{
	display: inline-block;
	position: relative;
	user-select: none;
	background-color: #00CCFF;
	border-radius: 5px;
	overflow:hidden;
	transition: .3s;
}

.btn-submit:hover{
	box-shadow:0 5px 10px rgba(0,0,0,0.25);
}

.btn-submit input[type=submit]{
	box-shadow: none;
	background: transparent;
	border:none;
	cursor: pointer;
	font-size: 16px;
    padding: 14px 20px;
    min-width: 130px;
    color: white;
    font-weight: bold;
}

.message-list{
	overflow-y: scroll;
}

.message-list::-webkit-scrollbar{
	width: 4px;
}

.message-list::-webkit-scrollbar-thumb{
	background-color: #00CCFF;
	border-radius: 2px;
}

.message-list .message-list-ul{
padding: 45px 35px 30px;
}

.message-list .message-list-ul .message-item{
	line-height: 1.8em;
	padding: 1.2em 0;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	transition: 0.5s;
}

.message-list .message-list-ul .message-item.hide{
	height: 0;
	opacity: 0;
	padding: 0;
}

.message-list .message-list-ul .message-item:first-child{
	margin-top: 0;
}

.message-list .message-list-ul .message-item:last-child{
	margin-bottom: 0;
	border-bottom: none;
}

.message-list .message-list-ul .message-item .name{
	font-size: 16px;
	font-weight: 600;
	color: #00CCFF;
}

.message-list .message-list-ul .message-item .name:after{
	content:':';
	color: #666;
	margin: 0 0.5em;
}

.message-list .message-list-ul .message-item .content{
	color: #666;
	display: inline;
}

.message-list .message-list-ul .message-item .message-time{
	margin-top: 0.8em;
	color: #ccc;
}

.footer .footer-links{
	text-align: center;
	padding: 30px 0;
}

.footer .footer-links .footer-link-item{
	display: inline-block;
	margin: 5px 15px;
}

.footer .footer-links .footer-link-item a{
	line-height: 45px;
	width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: transparent;
    transition: .3s;
}

.footer .footer-links .footer-link-item a i{
	color: #d7d7d7;
	font-size: 24px;
    line-height: 45px;
    display: block;
    transition: .3s;
}

.footer .footer-links .footer-link-item a:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.footer .footer-links .footer-link-item a:hover i{
	color: #6e6e6e;
}

.btn-scroll-top {
    z-index: 10;
    bottom: 35px;
    right: 40px;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
	visibility: hidden;
	opacity: 0;
    transition: 0.3s;
}

.btn-scroll-top i{
	display: block;
	color: rgba(0, 0, 0, 0.2);
	line-height: 40px;
	font-size: 16px;
}

.btn-scroll-top:hover{
	background-color: white;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.btn-scroll-top.show{
	opacity: 1;
	visibility: visible;
}